@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #101010;
  --black-off: #131313;
  --blue: #0051ff;
  --red: #ff0011;
  --purple: #9000ff;
}

.swiper {
  width: 25rem;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff;
}

body {
  background: var(--black);
  color: #ffff;
  font-family: "Poppins", sans-serif;
}

button {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.branding {
  display: flex;
  gap: 0.5rem;
}

.branding img {
  width: 2rem;
  height: 2rem;
}

/* main {
  height: calc(100vh - 10rem);
} */

.scanContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.spinner {
  width: 18rem;
  height: 18rem;
  border-radius: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: conic-gradient(var(--blue) 0deg, var(--black) 0deg);
}

.spinner button {
  width: 16rem;
  height: 16rem;
  border-radius: 8rem;
  font-size: 1.5rem;
  font-weight: 600;
  box-shadow: 0px 0px 10px var(--blue);
  cursor: pointer;
  border: none;
  background: var(--black);
  color: #ffff;
  transition: ease 80ms;
}

.spinner button:hover {
  background: var(--black-off);
}

.spinner.full {
  background: conic-gradient(var(--red) 0deg, var(--black) 0deg);
}

.spinner.full button {
  box-shadow: 0px 0px 10px var(--red);
}

.spinner.custom {
  background: conic-gradient(var(--purple) 0deg, var(--black) 0deg);
}

.spinner.custom button {
  box-shadow: 0px 0px 10px var(--purple);
}

.current-file {
  color: #b3b3b3;
  /* text-transform: lowercase; */
  font-weight: 300;
  font-size: 0.8rem;
}

.threats {
  width: 100%;
  margin-top: 1rem;
  font-size: 0.8rem;
  font-weight: 300;
  color: whitesmoke;
}

.scrolls {
  max-height: 16rem;
  overflow-y: auto;
}

.threats .row {
  display: flex;
}

.threats .row.title {
  font-weight: 600;
  background: #1f1f1f;
}

.threats .row .col {
  border: 0.1px solid #333333;
  padding: 0.4rem;
}

.threats .row .col.title {
  flex: 0.2;
}

.threats .row .col.risk {
  flex: 0.2;
}

.threats .row .col.actions {
  flex: 0.6;
  display: flex;
  gap: 0.5rem;
}

.result{
  color: #20c56f;
  display: flex;
  justify-self: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.btn {
  border: none;
  background: #fff;
  font-size: 0.7rem;
  padding: 0.2rem;
  border-radius: 0.5rem;
  width: 4rem;
  height: 1.6rem;
  cursor: pointer;
  text-align: center;
  transition: ease 100ms;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}
.btn:hover {
  background: #ccc;
}

.risk-high {
  color: var(--red);
}

.risk-medium {
  color: goldenrod;
}

.risk-low {
  color: #20c56f;
}

.btn-update {
  width: 6rem;
  height: 2rem;
}

.btn-update img {
  width: 1rem;
}

.center {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
