@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #101010;
  --black-off: #131313;
  --blue: #0051ff;
  --red: #ff0011;
  --purple: #9000ff;
}

.swiper {
  width: 25rem;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff;
}

body {
  background: var(--black);
  color: #ffff;
  font-family: "Poppins", sans-serif;
}

main {
  padding: 0 1rem;
}

button {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

a {
  text-decoration: none;
}

header .actions {
  display: flex;
  gap: 0.5rem;
}

header .actions button {
  width: 6rem;
  height: 2rem;
}



.btn {
  border: none;
  background: #fff;
  font-size: 0.7rem;
  padding: 0.2rem;
  border-radius: 0.5rem;
  width: 4rem;
  height: 1.6rem;
  cursor: pointer;
  text-align: center;
  transition: ease 100ms;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  /* width: 6rem;
  height: 2rem; */
}

.btn img {
  width: 1rem;
}

.btn:hover {
  background: #ccc;
}

.branding {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.logo {
 width: 1.8rem;
}

.logo img {
  width: 100%;
}

.scanContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.spinner {
  width: 18rem;
  height: 18rem;
  border-radius: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: conic-gradient(var(--blue) 0deg, var(--black) 0deg);
}

.spinner button {
  width: 16rem;
  height: 16rem;
  border-radius: 8rem;
  font-size: 1.5rem;
  font-weight: 600;
  box-shadow: 0px 0px 10px var(--blue);
  cursor: pointer;
  border: none;
  background: var(--black);
  color: #ffff;
  transition: ease 80ms;
}

.spinner button:hover {
  background: var(--black-off);
}

.spinner.full {
  background: conic-gradient(var(--red) 0deg, var(--black) 0deg);
}

.spinner.full button {
  box-shadow: 0px 0px 10px var(--red);
}

.spinner.custom {
  background: conic-gradient(var(--purple) 0deg, var(--black) 0deg);
}

.spinner.custom button {
  box-shadow: 0px 0px 10px var(--purple);
}

.current-file {
  color: #b3b3b3;
  /* text-transform: lowercase; */
  width: 16rem;
  display: inline-block;
  font-weight: 300;
  font-size: 0.8rem;
}

.threats {
  width: 100%;
  margin-top: 1rem;
  font-size: 0.8rem;
  font-weight: 300;
  color: whitesmoke;
  /* padding: 0 1rem; */
}

.hide {
  display: none !important;
}

.scrolls {
  max-height: 16rem;
  overflow-y: auto;
}

.scrolls::-webkit-scrollbar {
  width: 0;
}

.threats .row {
  display: flex;
}

.threats .row.title {
  font-weight: 600;
  background: #1f1f1f;
  
}

.threats .row .col {
  border: 0.1px solid #333333;
  padding: 0.4rem;
}

.threats .row .col.title {
  flex: 0.5;
}

.threats .row .col.risk {
  flex: 0.2;
}

.threats .row .col.actions {
  flex: 0.3;
  display: flex;
  gap: 0.5rem;
}

.threats .row .col.actions button {
  width: 4.4rem;
}

.result{
  color: #20c56f;
  display: flex;
  justify-self: center;
  font-size: 0.8rem;
  padding: 1rem 0;
  /* font-weight: bold; */
}


.risk-high {
  color: var(--red);
}

.risk-medium {
  color: goldenrod;
}

.risk-low {
  color: #20c56f;
}


/* .btn-update {
  width: 6rem;
  height: 2rem;
}

.btn img {
  width: 1rem;

} */

.center {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.threat-selector {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.threat-selector #threat-option {
  background-color: transparent; /* Make the background transparent */
  border: 1px solid #ccc; /* Add a border for visibility */
  color: #ffffff; /* Text color */
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  appearance: none; /* Remove default arrow styling */
  -webkit-appearance: none; /* Remove default arrow styling for WebKit browsers */
  -moz-appearance: none; /* Remove default arrow styling for Firefox */
  outline: none; /* Remove focus outline */
  border: none;
  cursor: pointer;
  background: #1f1f1f;
  transition: ease 80ms;
}

.threat-selector #threat-option:hover {
  background: #303030;
  
}

/* Style the dropdown options */
.threat-selector #threat-option option {
  background-color: transparent; /* Make the options' background transparent */
  color: #ffffff; /* Text color */
  font-size: 16px;
}